<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title><%= title %></title>
    <link rel="icon" type="image/jpg" href="../images/lion2.svg"/>
</head>
<body>
    <%- include('../partials/nav.ejs')%>
    <main>
        

        
        <div class="product-page">
            <img class="item-image" src="<%= item.src %>" alt="<%= item.name %>">
            <div>o o o o o o</div>
            <span class="item-name" data-item-id="<%= item.id %>"><%= item.name %></span>
            <span class="item-price">Php <%= item.price / 100 %></span>
            <p class="product-desc"><%= item.desc%></p>
        
        
            <div class="quantity">
                <span class="input-prev">&#8211;</span>
                <input class="item-quantity" type="number" value="1">
                <span class="input-next">+</span>
            </div>
            <div class="add-to-cart">ADD TO CART</div>
            <div class="buy-it-now">BUY IT NOW</div>
        </div>
    </main>

    <script type="module" src="../app.js"></script>
    <script type="module" src="../nav.js"></script>
</body>

</html>