<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>
    
    <main>
        <section class="cta">
            <img src="../images/model3.jpg" alt="model 1">
            <div class="cta-buynow"><span>BUY NOW</span></div>
        </section>
        
        <section class="our-favorites">
            <h2 class="section-header">OUR FAVORITES</h2>
            <div class="cards-container">
                <% items.favorites.forEach(function(item) { %>
                    <a href="<%= item.route%>">
                        <div class="card-item" data-item-id="<%= item.id %>">
                            <img class="item-image" src="<%= item.src %>">
                            <span class="item-name"><%= item.name %></span>
                            <span>Php
                                <span class="item-price"><%= item.price / 100 %></span>
                            </span>
                        </div>
                    </a>
                <% }) %>
            </div>
        </section>

        <section class="all-products">

        </section>
    </main>
    
    <%- include('./partials/footer.ejs')%>
    <script>
        if (localStorage.getItem("total") === null) localStorage.setItem("total", 0);
    </script>
    <script type="module" src="nav.js"></script>
</body>
</html>