<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>


    <main>
        <section class="items-container">
            <% items.utilities.forEach(function(item) { %>
                <div class="item" data-item-id="<%= item.id %>">
                    <span class="item-name"><%= item.name %></span>
                    <span class="item-price"><%= item.price / 100 %></span>
                    <img class="item-image" src="">
                    <button class="add-to-cart">Add to cart</button>
                </div>
            <% }) %>
        </section>
        
        <a href="cart"><div>Go to cart</div></a>
        
    </main>
    

    <script src="shop.js"></script>
</body>
</html>